[Unit]
Description=Partitioning Service
After=network.target

[Service]
ExecStart=/home/ubuntu/MOM-py/.venv/bin/python3 /home/ubuntu/MOM-py/partitioning_service/main.py
WorkingDirectory=/home/ubuntu/MOM-py/partitioning_service
Restart=always
User=ubuntu
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target